@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

:root{
--bg-color:rgb(237, 183, 237);
--primary-color:rgb(18, 91, 154);
--second-color: rgb(11, 132, 148);
--tipo-fonte: "Fascinate Inline";

}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    height: 100vh;
    margin: 0;
}

h1{
    color: var(--second-color);
    font-family: var(--tipo-fonte);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--bg-color);
     margin: 0rem 2rem 1rem 0rem;
     font-size: 1.2rem;

}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}